<div class="container p-3 m-3 border rounded">
    <h2> Recent posts</h2>
    <div class="row row-cols-1 g-4 mt-4">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="link-primary">
                        <h3 class="card-title bg-light border p-2">JS Advanced</h3>
                    </a>
                    <div class="d-flex bd-highlight mb-3 roun">
                        <p class="me-auto bd-highlight">David</p>
                        <p class="bd-highlight"><b>09.09.2021 11:34</b></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>