<div class="container p-3 m-3 border rounded">
    <h2> Recent posts</h2>
    <div *ngIf="postList" class="row row-cols-1 g-4 mt-4">

        <div *ngFor="let post of postList">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="#" class="link-primary">
                            <h3 class="card-title bg-light border p-2 mb-3">{{post.theme}}</h3>
                        </a>
                        <div class="d-flex bd-highlight">
                            <div class="me-auto bd-highlight"><b>{{post.user}}</b></div>
                            <div class="bd-highlight">{{post.createdAt}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="!postList">Loading...</div>
</div>