<div class="aside">
    <h2 class="title"> Recent posts</h2>

    <div class="aside-theme">
        <a href="#">
            <h3>Angular 12</h3>
            <p>Silvester</p>
            <p><span>2021-2-3T10:12:45.343Z</span></p>
        </a>
    </div>

    <div class="aside-theme">
        <a href="#">
            <h3>JS Advanced</h3>
            <p>John</p>
            <p><span>2021-12-1T9:2:45.343Z</span></p>
        </a>
    </div>

    <div class="aside-theme">
        <a href="#">
            <h3>ASP .NET Core</h3>
            <p>Victoria</p>
            <p><span>2021-2-3T15:43:45.343Z</span></p>
        </a>
    </div>

    <div class="aside-theme">
        <a href="#">
            <h3>React Native</h3>
            <p>Peter</p>
            <p><span>2021-12-11T19:54:12.343Z</span></p>
        </a>
    </div>

</div>