<div class="theme-title">

    <div class="theme-container">
        <div class="theme-name-wrapper">
            <div class="theme-name">
                <a href="#" class="normal">
                    <h2>Angular 12</h2>
                </a>
                <div class="columns">
                    <div>
                        <p>Date: <time>2021-9-9T12:34:28.432Z</time></p>
                        <div class="nickname">
                            <p>Username: <span>David</span></p>
                        </div>
                    </div>
                    <div class="subscribers">
                        <p>Subscribers: <span>324</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="theme-container">
        <div class="theme-name-wrapper">
            <div class="theme-name">
                <a href="#" class="normal">
                    <h2>React Native</h2>
                </a>
                <div class="columns">
                    <div>
                        <p>Date: <time>2021-9-9T12:34:28.432Z</time></p>
                        <div class="nickname">
                            <p>Username: <span>David</span></p>
                        </div>
                    </div>
                    <div class="subscribers">
                        <p>Subscribers: <span>796</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="theme-container">
        <div class="theme-name-wrapper">
            <div class="theme-name">
                <a href="#" class="normal">
                    <h2>ASP .NET Core</h2>
                </a>
                <div class="columns">
                    <div>
                        <p>Date: <time>2021-9-9T12:34:28.432Z</time></p>
                        <div class="nickname">
                            <p>Username: <span>David</span></p>
                        </div>
                    </div>
                    <div class="subscribers">
                        <p>Subscribers: <span>1148</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="theme-container">
        <div class="theme-name-wrapper">
            <div class="theme-name">
                <a href="#" class="normal">
                    <h2>React Native</h2>
                </a>
                <div class="columns">
                    <div>
                        <p>Date: <time>2021-9-9T12:34:28.432Z</time></p>
                        <div class="nickname">
                            <p>Username: <span>David</span></p>
                        </div>
                    </div>
                    <div class="subscribers">
                        <p>Subscribers: <span>341</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>