<form action="" method="POST">
    <div class="container border rounded m-3">
        <h2>Login Form</h2>

        <p>
            <label class="form-label" for="email">Email</label>
            <input #userEmail class="form-control" type="email" name="email" id="email"
                (keyup)="updateInputValue('email',userEmail.value)">
        </p>
        <p *ngIf="showEmailError" class="text-danger">
            Email is required
        </p>
        <p>
            <label class="form-label" for="password">Password</label>
            <input #userPassword class="form-control" type="password" name="password" id="password"
                (keyup)="updateInputValue('password', userPassword.value)">
        </p>
        <p *ngIf="showPasswordError" class="text-danger">
            Password is required
        </p>

        <div class="d-grid gap-2">
            <button type="button" (click)="onLoginClicked()" [disabled]="hasFormErrors"
                class="btn btn-primary">Login</button>
        </div>
        <app-loader [isLoading]="isLoading" ></app-loader>

        <p>
            Don't have an account?
            <a routerLink="/user/register">Register</a>
        </p>
    </div>
</form>