<form #f="ngForm" (ngSubmit)="submitFormHandler(f.value)">
    <div class="container border rounded m-3">
        <h2>Login Form</h2>

        <p>
            <label class="form-label" for="email">Email</label>
            <input #userEmail="ngModel" class="form-control"
                [class.input-error]="userEmail.touched && !!userEmail.errors" type="text" name="email" id="email"
                ngModel required pattern="^[a-zA-Z\.-]{6,}@\w+\.(com|bg)$">
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.required" class="text-danger">
            Email is required!
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.pattern" class="text-danger">
            Email is not valid!
        </p>
        <p>
            <label class="form-label" for="password">Password</label>
            <input #userPassword="ngModel" class="form-control"
                [class.input-error]="userPassword.touched && !!userPassword.errors" type="password" name="password"
                id="password" ngModel required minlength="4">
        </p>
        <p *ngIf="userPassword.touched && userPassword.errors?.required" class="text-danger">
            Password is required!
        </p>
        <p *ngIf="userPassword.touched && userPassword.errors?.minlength" class="text-danger">
            Password length must be at least 4 characters!
        </p>
        <div class="d-grid gap-2">
            <button [disabled]="isLoading || f.invalid" class="btn btn-primary">Login</button>
        </div>
        <app-loader [isLoading]="isLoading" class="mt-3 d-flex justify-content-center"></app-loader>
        <p>
            Don't have an account?
            <a routerLink="/user/register">Register</a>
        </p>
    </div>
</form>