<form action="" method="POST">
    <div class="container border rounded m-3">
        <h2>Login Form</h2>

        <p>
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email">
        </p>
        <p>
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">
        </p>
        <div class="d-grid gap-2">
            <button class="btn btn-primary">Login</button>
          </div>

        <p>
            Have an account?
            <a href="#">Register</a>
        </p>
    </div>
</form>